.input-field:hover,
.textarea-field:hover {
    box-shadow: 0 0 0 1px #000;
}

.input-field:focus,
.textarea-field:focus {
    box-shadow: 0 0 0 2px #cdcdff;
    outline: none;
}

.submit-button:hover {
    background-color: #cdcdff;
}

.submit-button:focus {
    box-shadow: 0 0 0 2px #cdcdff;
    outline: none;
}
